<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/insert}" th:object="${user}" th:method="'POST'">
        <input name="name" th:value="*{name}" placeholder="이름" autofocus>
        <button type="submit">버튼</button>
    </form>

    <ul>
        <li th:each="item : ${list}">
            <a href="#" th:text="${item.name}" th:href="@{/user/__${item.id}__}">유저이름</a>
        </li>
    </ul>

    <div sd:pagination="full">info</div>

</body>
</html>